.content{
    width:800px;
    margin-top: 100px;
    margin-left:197px;
}
/*时钟*/
.time{
    position: absolute;
    width: 192px;
    top: 600px;
}
.graduate{
    width: 190px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.graduate input{
    width: 100px;
    margin-top: 5px;
    text-align: center;
}
.content h3{
    background: url(../images/blogli.png) left center no-repeat;
    padding-left: 50px;
    line-height: 25px;
}
.content p{
    margin-top: 30px;
    line-height: 22px;
    color: #5e5e5e;
}
.content .about-me img{
    float: right;
    height: 140px;
    width: 140px;
    margin:30px 0 ;
}
/*关于我*/
.about-me{
    width:783px;
    border-right: 1px solid #00CCFF;
    height: 200px;
    overflow: hidden;
    padding: 10px;
    background:rgb(241,241,241);
    margin-top: 20px;
}
/*慢生活*/
.slow-life{
    width: 783px;
    height: 200px;
    margin-top: 20px;
    border-right: 1px solid #00CCFF;
    overflow: hidden;
    padding: 10px;
    background:rgb(241,241,241);
}
/*学习历程*/
.learning-experience{
    width: 783px;
    height: 200px;
    margin-top: 20px;
    border-right: 1px solid #00CCFF;
    overflow: hidden;
    padding: 10px;
    background:rgb(241,241,241);
}

/*底部*/
.bottom{
    margin-top: 50px;
    height: 70px;
    width: 1000px;
    border-top: 1px solid #888888;
    background:rgb(241,241,241);
    text-align: center;

}
.bottom .list-div{
    width: 340px;
    height: auto;
    margin: auto;
}
.bottom .list-div ul li{
    float: left;
    margin-top: 10px;
    border-right: 1px solid #9F9FFF;
    padding-left: 5px;
    padding-right: 5px;
}
.bottom .list-div ul li:last-child{
    border-right: none;
}
.bottom .list-div ul li a{
    color: #696969;
}
.bottom .list-div ul li a:hover{
    color: #222222;
}
.bottom .copyright{
    width:130px;
    margin: auto;
    margin-top: 40px;
    font-size: 14px;
}